@charset "UTF-8";

body {
	background-color: #000000;
	margin: 0px;
	border: 0px;
}

p {
  color: black;
}

.hidden {
  display: none;
}

#Content {
  margin: 0 auto;
  width: 1416px;
	height: 1400px;
	background-color: #000000;
	display: flex;
}

#background {
  background-image: url('../images/thebackground.png');
  width: 1416px;
  height: 1489px;
	margin-top: -350px;



}
#DragArea {
  justify-content: space-between;
  margin: 120px 0 0 160px;
  display: flex;
  float: left;
  width: 1000px;
  height: 140px;


}

.instrument-image:nth-child(even) {
	float: right;
	clear: both;
}
.instrument-image:nth-child(odd) {
	float: left;
	clear: both;
}

.drop {
	display: flex;
  width: 140px;
  height: 140px;
	float: left;
	position: relative;
}


#bass {
	display: flex;
  width: 140px;
  height: 140px;
}

#guitar {
	display: flex;
  width: 70px;
  height: 140px;

}

#drums {
	display: flex;
  width: 222px;
  height: 142px;
}
.DropArea {
  justify-content: space-between;
  margin: 950px 0 0 180px;
  display: flex;
  float: left;
  width: 1000px;
  height: 140px;

}
